.logout-button {
  margin-left: 10px;
  vertical-align: bottom;
}

.display-name-container {
  display: inline-block;
  text-transform: capitalize;
  text-align: right;
}

.display-name {
  margin-bottom: 2px;
}

.logout-button-container {
  width: 100%;
  text-align: right;
  display: inline-block;
}

.link{
  cursor: pointer;
}
