.resend-button {
  background-color: #e68045;
  height: 50px;
  width: 195px;
  color: white;
}

.back-to-login {
  color: #7a7a7a;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-decoration: underline;
  cursor: pointer;
}