<div class="password-reset-page">
  <div class="password-reset-container flex-container">
    <mat-card class="transparent-layer">
      <mat-card-header>
        <mat-card-title
          class="header-text"
          style="margin-left: 0px; margin-right: 0px; margin-top: 12px"
        >
          Password Reset
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="authBlock">
          <form class="password-info flex-column">
          <p class="text-center">Please enter your email address to request a password reset.</p>
            <mat-form-field class="example-full-width" appearance="outline" color="primary">
              <input matInput type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </mat-form-field>
          </form>
          <div class="formGroup password-button-container">
            <button mat-raised-button type="submit" class="reset-password-button" value="Reset Password"  color="accent" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
          </div>
        </div>
        <div class="back-to-login">
          <span routerLink="/login">Back to login page</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
