<div class="center-content">
  <div class="row">
    <div class="title col-md-offset-4 col-md-4 text-center">
      <h1>404 Error</h1>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-md-offset-4 col-md-4 intro-text">
      <p>The page you're looking for doesn't exist. Check the url.</p>
    </div>
    <div class="button-row">
      <div class="col-md-offset-4 col-md-4 login-text">
        <a mat-flat-button color="primary" routerLink="/projects" class="bold">
          BACK
        </a>
      </div>
    </div>
  </div>
</div>
